<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content">
        <h1>Wel-Come To Contact us Page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae eveniet magni, nisi, iure doloribus, odit tempore molestiae animi eum tempora explicabo maxime. Eveniet hic ea, dolorem quis eligendi fuga voluptatibus?</p>
    </div>
    
    <script>
        console.log("Contact Page")
    </script>
</body>
</html>