<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services</title>
</head>
<body>
    <section id="content">
        <h1>Wel-Come To Service Page</h1>
        <h2>Service Offered By SCM</h2>
        Lorem ipsum dolor sit amet consectetur radicalising elit. Accusation sequin veritas consectetur ration nemo perferendis, praesentium fugiat ea iste modi at odit voluptatum dolor libero. Quaerat debitis facilis molestias laudantium?
    </section>
</body>
</html>